;; This is example config, copy it to config.lisp

(;; Association list of servers
 :servers
 ;; Key is the server name keyword, must be unique
 ;; Value is the server config
 ((localhost-1 . (:server "localhost"
                  :port 6697
                  :nick "test"
                  :channels ("#test1" "#test2")
                  ;; Optional username and password for SASL
                  :username username
                  :password password
                  ;; Optional commands issued after connect
                  :extra-commands ("PRIVMSG NickServ :IDENTIFY somepassword")
                  ;; Optional flexi-streams, default :utf-8
                  :encoding :utf-8
                  ;; Optional socket timeout, default 180 seconds
                  :socket-timeout 180
                  ;; Use tls or not, default nil
                  :tls t)))
 ;; Socket read timeout
 :read-timeout 600
 ;; Hunchentoot listen port (optional)
 :web-port 4242
 ;; Hunchentoot listen address (optional, default nil/all)
 :web-listen-addr "127.0.0.1"
 ;; Log file path
 :log-path "/tmp/zog.log"
 :web-log "/tmp/hunch.log"
 ;; Database config
 :database-user "zoglog"
 :database-name "zoglog"
 :database-password "zoglog"
 :database-host "localhost"
 :log-level :info)              ; log level for vom
