;; This is example config, copy it to config.lisp

#S(zoglog::conf
   ;; Plist of servers
   :servers ((:server "localhost"
		      :port 6667
		      :nick "teest"
		      :channels ("test1" "test2")))
   ;; Hunchentoot listen port
   :web-port 4242)
