<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}ZOGLOG{% endblock %}</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/main.css" rel="stylesheet" />
  </head>
  <body>

    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
	<div class="navbar-header">
	  <a href="/" class="navbar-brand">ZOGLOG</a>
	</div>
      </div>
    </nav>

    <div class="container-fluid">
      {% block center %}{% endblock %}
    </div>

  </body>
</html>
