<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}ZOGLOG{% endblock %}</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/main.css" rel="stylesheet" />
  </head>
  <body>

    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
	<div class="navbar-header">
	  <a href="/" class="navbar-brand">ZOGLOG</a>
	</div>

        <form class="navbar-form navbar-right"
              action="/set-timezone/">
              <input type="hidden" name="return-path" value="{{ current-url }}" />
              <div class="input-group">
                <span class="input-group-addon" title="Timezone">
                  <span class="glyphicon glyphicon-time"></span>
                </span>
                <select class="form-control" name="timezone"
                        autocomplete="off">
                        {% for zone in timezones %}
                          <option value="{{ zone }}"
                                  {% if selected-tz == zone %}selected="selected"{% endif %}>
                                  {{ zone }}</option>
                                {% endfor %}
                </select>
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit"
                          title="Set timezone">
                          <span class="glyphicon glyphicon-ok"></span>
                  </button>
                </span>
              </div>
        </form>

      </div>
    </nav>

    <div class="container-fluid">
      {% block center %}{% endblock %}
    </div>

  </body>
</html>
