{% extends "base.html" %}

{% block title %}{% super %} - {{ channel }}/{{ server }}{% endblock %}

{% block center %}

  <div class="page-header">
    <h1>{{ channel }}
      <small>
        {{ server }}
        <a href="/statistics/{{ server|urlencode }}/{{ channel|cut:"#"|urlencode }}/" title="Channel statistics">
          <span class="glyphicon glyphicon-stats"></span>
        </a>
      </small>
    </h1>
  </div>

  {% include "filter.html" %}

  {% include "paginator.html" %}

  <table class="table table-striped table-hover table-condensed">
    <thead>
      <tr>
	<th class="col-lg-1">Date</th>
	<th class="col-lg-1 col-md-1 col-sm-1 text-right nick-col">Nick</th>
	<th>Message</th>
      </tr>
    </thead>
    <tbody>
      {% for message in messages %}

	<tr id="msg-{{ message.id }}" 
            {% if message.message-type == "NOTICE" %} class="info"{% endif %}
	    {% if message.message-type == "ACTION" %} class="warning"{% endif %}
	    {% if message.message-type == "KICK" %} class="danger"{% endif %}>
	    
	    <td class="date-cell">
	      <a rel="nofollow"
                 title="Show in unfiltered context"
                 href="?show-in-context={{ message.id }}&amp;limit={{ limit }}">
		<small>{{ message.date-formatted }}</small>
	      </a>
	    </td>

	    <td class="text-right nick-cell">
	      {% if message.message-type == "PRIVMSG" or message.message-type == "NOTICE" %}
		<strong title="{{ message.host }}"
                        style="color: {{ message.nick-color }};">{{ message.nick }}</strong>
	      {% endif %}
	    </td>
	    <td class="log-message">
	      {% if message.message-type == "PRIVMSG" or message.message-type == "NOTICE" or message.message-type == "ACTION" %}
		{% if message.message-type == "ACTION" %}
		  <strong>{{ message.nick }}</strong> {{ message.message }}
		{% else %}
                  <strong class="message-nick" title="{{ message.host }}">{{ message.nick }}<br /></strong>
		  {{ message.message|safe|linkify }}
		{% endif %}
	      {% else %}
		<span class="text-muted">{{ message.nick }} ({{ message.host }})

		  {% if message.message-type == "JOIN" %}
		    has joined
		  {% endif %}
		  {% if message.message-type == "QUIT" %}
		    has quit{% if message.message %}: {{ message.message }}{% endif %}
		  {% endif %}
		  {% if message.message-type == "PART" %}
		    has left channel{% if message.message %}: {{ message.message }}{% endif %}
		  {% endif %}
		  {% if message.message-type == "KICK" %}
		    kicked {{ message.message }}
		  {% endif %}
		  {% if message.message-type == "NICK" %}
		    is now known as <strong>{{ message.message }}</strong>
		  {% endif %}

		</span>
		
	      {% endif %}
	    </td>
	</tr>

      {% endfor %}

    </tbody>
  </table>

  {% include "paginator.html" %}

{% endblock %}
