{% extends "base.html" %}

{% block center %}

  <div class="page-header">
    <h1>Channels</h1>
  </div>

  <div class="list-group">
    {% for channel in channels %}
      {% set server_shown = "false" %}
      {% if forloop.first %}
        <a class="list-group-item list-group-item-info">
          {{ channel.server-id }}
        </a>
        {% set server_shown = "true" %}
      {% endif %}
      {% ifchanged channel.server-id %}
        {% if server_shown != "true" %}
          <a class="list-group-item list-group-item-info">
            {{ channel.server-id }}
          </a>
        {% endif %}
      {% endifchanged %}
      
      <a href="/channel/{{ channel.server-id|urlencode }}/{{ channel.name|urlencode }}/" class="list-group-item">
	<strong class="text-primary">#{{ channel.name }}</strong>
      </a>
    {% endfor %}
  </div>

{% endblock %}
