{% extends "base.html" %}

{% block center %}

  <div class="page-header">
    <h1>Channels</h1>
  </div>

  <div class="list-group">
    {% for channel in channels %}
      {% ifchanged channel.server-id or forloop.first %}
	<a class="list-group-item list-group-item-info">{{ channel.server-id }}</a>
      {% endifchanged %}
      <a href="/channel/{{ channel.server-id|urlencode }}/{{ channel.name|urlencode }}/" class="list-group-item">
	<strong class="text-primary">#{{ channel.name }}</strong>
      </a>
    {% endfor %}
  </div>

{% endblock %}
