<nav class="text-center paginator">

    {% if oldest-link and older-link and from-id != 0 %}
      <a class="btn btn-sm btn-default" title="Oldest" href="{{ oldest-link }}"><span class="glyphicon glyphicon-fast-backward"></span></a>
    {% endif %}
    {% if older-link %}
      <a class="btn btn-sm btn-default" title="Older" href="{{ older-link }}"><span class="glyphicon glyphicon-arrow-left"></span></a>
    {% endif %}

    <form class="form-inline skip-to-date-form" method="post" action="?">
      <div class="form-group">
        <label class="sr-only">Skip to</label>
        <div class="input-group input-group-sm">
          <input type="text" class="form-control datepicker"
                 data-min="{{ date-from }}"
                 data-max="{{ date-to }}"
                 name="skip-to-date"
                 placeholder="Skip to date" value="" />
                 <span class="input-group-btn">
                   <button class="btn btn-default" title="Skip to date" type="submit">
                     <span class="glyphicon glyphicon-new-window"></span>
                   </button>
                 </span>
        </div>
      </div>
      {# Filter fields #}
      {% if nick %}<input type="hidden" name="nick" value="{{ nick }}" />{% endif %}
      {% if host %}<input type="hidden" name="host" value="{{ host }}" />{% endif %}
      {% if message %}<input type="hidden" name="message" value="{{ message }}" />{% endif %}
      {% if date-from %}<input type="hidden" name="date-from" value="{{ date-from }}" />{% endif %}
      {% if date-to %}<input type="hidden" name="date-to" value="{{ date-to }}" />{% endif %}
      {% if limit and limit != default-limit %}<input type="hidden" name="limit" value="{{ limit }}" />{% endif %}
    </form>

    {% if newer-link %}
      <a class="btn btn-sm btn-default" title="Newer" href="{{ newer-link }}"><span class="glyphicon glyphicon-arrow-right"></span></a>
    {% endif %}
    {% if from-id or to-id %}
      {% if newest-link %}
        <a class="btn btn-sm btn-default" title="Newest" href="{{ newest-link }}"><span class="glyphicon glyphicon-fast-forward"></span></a>
      {% endif %}
    {% endif %}

</nav>
