.skip-to-date-form {
    display: inline-block;
    vertical-align: middle;
    width: 18rem;
}

.rd-container {
    z-index: 5;
}

.rd-days th,.rd-days td {
    padding: 1px;
}

nav.paginator {
    padding-bottom: 4px;
}

.message-nick {
    display: none;
}

#filter-form .form-group {
    padding: 1px;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

.glyphicon-refresh.spinning {
  transform-origin: 50% 43%;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@media (min-width: 768px) {
    #limit {
	width: 8rem;
    }

    #nick {
	width: 15rem;
    }

    #host {
       width: 13rem;
    }

}

@media (max-width: 768px) {
    .skip-to-date-form .form-group {
	margin-bottom: 0px;
    }
}

@media (min-width: 500px) {
    .date-cell {
        white-space: nowrap;
    }
}

@media (max-width: 500px) {
    .nick-cell, th[class*="col-"].nick-col {
        display: none;
    }

    .message-nick {
        display: inline;
    }

    .log-message {
        overflow-wrap: break-word;
        word-wrap: break-word;

        -ms-word-break: break-all;
        word-break: break-all;
        word-break: break-word;

        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }
}

@media (max-width: 380px) {
    .skip-to-date-form {
	display: block;
	padding: 5px 0;
	margin: auto;
    }
}