.log-message {
    word-break: break-word;
}

.skip-to-date-form {
    display: inline;
}

.rd-days th,.rd-days td {
    padding: 1px;
}

@media (min-width: 768px) {
    #limit {
	width: 8rem;
    }

    #nick {
	width: 15rem;
    }

    #host {
       width: 13rem;
    }
}

